body {padding: 5px;
    text-align: center;}

.navbar-nav li.active {
    border: solid 1px #aaaaaa;
    border-width: 0 1px;
    background: #eeeeee;
}

#content {
    width: 75%;
    margin: 52px auto 0 auto;
    text-align: left;
}

.form-group {margin-right: 5px;}

.form-inline {margin-bottom: 20px;}

.divNav a {margin-right: 10px;}

.form-group label, .form-group select {margin-right: 10px;}

.divProjectUser {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.divProjectUser .btn {
    padding: 8px 9px 10px 11px;
    margin: 0 10px;
}

.divProjectUser > span {
    padding: 6px 10px;
}

ul {
    width: 75%;
    margin: 0 auto 10px auto;
}

.liProjects, .liUsers {
    margin-bottom: 30px;
    background: #eeeeee;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    box-shadow: inset 0px 0px 4px 1px #cccccc;
    position: relative;
    transition: opacity .5s;
}

.liUsers.fadeOut, .liProjects.fadeOut{
    opacity: 0;
}

.liUsers .glyphicon.glyphicon-trash, .liProjects .glyphicon.glyphicon-trash{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #666666;
    cursor: pointer;
    transition: color .3s;
}

.liUsers .glyphicon.glyphicon-trash:hover, .liProjects .glyphicon.glyphicon-trash:hover{
    color: #ff2222;
    text-decoration: none;
}

.liProjects .dl-horizontal {
    margin-bottom: 10px;
    width: 100%;
}

.liProjects .selAddUser {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.liProjects .selAddUser.showing {
    display: inline-block;
}

.dl-horizontal dt, .dl-horizontal dd {
    margin: auto;
    display: inline-block;
}

.dl-horizontal dt {
    text-align: right;
    width: 50%;
}

.dl-horizontal dd {
    margin-left: 15px;
    width: 45%;
}

.dl-horizontal dt:nth-of-type(1), .dl-horizontal dd:nth-of-type(1) {
    font-size: 20px;
}

.dl-horizontal .divDescription {
    color: #00aa00;
    width: 50%;
    margin: 10px auto;
    text-align: center;
}

.liProjects .divControls {
    opacity: 0;
    display: none;
    transition: opacity .3s ease-in-out;
}

.liProjects .divControls.animated {
    opacity: 1;
}

.liProjects .divControls.showing {
    display: inline-block;
}

.liProjects .divControls .radio-inline {
    padding-top: 0px;
}

.liProjects .ulUsers {
    width: 75%;
    margin: 10px auto 0 auto;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.liProjects .ulUsers li {
    margin: 0 auto 5px auto;
    height: 26px;
    width: 75%;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    text-align: left;
}

.liProjects .ulUsers li span {
    margin-right: 5px;
    display: inline-block;
    padding: 2px 5px 5px 5px;
    color: #00aa00;
}

.liProjects .ulUsers li span.glyphicon {
    color: #666666;
}

.liProjects .ulUsers li a.glyphicon-remove {
    float: right;
    margin: 4px 5px auto auto;
    color: #666666;
    cursor: pointer;
    transition: color .3s;
}

.liProjects .ulUsers li a.glyphicon-remove:hover {
    color: #ff2222;
    text-decoration: none;
}
