h1 Create a New Project
.divNewProject
    h4 All data is required:
    .divProjectData
        .form-group
            label(for='projectname') Project Name:
            input.form-control(type='text',name='projectname')
        .form-group
            label(for='description') Description:
            input.form-control(type='text',name='description')
        #divMessage.hidden
        button.btn.btn-success(type='button')#btnCreateProject Create New Project
