.divNav
    ul.nav.nav-pills
        li
            a#navHome(href="#home") Login
        li
            a#navNewUser(href="#newuser") New User
        li
            a#navUsers(href="#users") Show Users
        li
            a#navNewProject(href="#newproject") New Project
        li
            a#navProjects(href="#projects") Show Projects
